name: Scala CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Check out repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install Nix (with flake support)
      uses: cachix/install-nix-action@v20
      with:
        extra_nix_config: sandbox = true

    - name: Run tests
      run: nix develop --command sbt --batch --supershell=false test
